html {
  font-size: 1rem;
}
body {
	
}

.spacement {
	padding: 1.4rem 0 0 0;
}

.spacement p {
	padding: 1rem 1rem;
}

li ul {
   list-style-type: none;
   padding-left : 0px;
}

li li:before {
   content: '- ';
}

.btn {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    border: none;

}
.btn:active {
  border-style: outset;
  border: none;
}

.config-title {
	display:inline-block;
	width:140px;
}
.progress {
    height: 30px;
}

.progress > svg {
    height: 100%;
    display: block;
}

.desktop-top-nav{
    display: block;
}
.mobile-bottom-nav{
    display:None;
    position: fixed;
    bottom:0;
    right: 0;
    left: 0;
    top: auto;
    box-shadow: 0 -2px 5px -2px #333;
    z-index: 2030;
}
.mobile-bottom-nav .nav-link{
    color: white;
}
.desktop-top-nav .nav-link{
    line-height: 27px;
    text-align: center;
}

.nav-active{
    color : dodgerblue !important;
}

.carousel-inner{
    height: 200px;
    text-align: center;
}
.colorList{
    width: 70%;
    margin: 0 auto;
}
.swatch {
  height: 32px;
  margin: 4px 0;
  border-radius: 4px;
}

@media (max-width: 751px) {
    .desktop-top-nav{
        display: None;
    }
    .mobile-bottom-nav{
        display: block;
    }
    html {
      font-size: 12px;
    }
    body{
        padding-bottom: 6rem;
    }
}